<div id="escrow" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="tradeA">
    <div class="card-design">
      <p><span class="header_text">
      User Profile
      </span>
      </p>
    </div>
  </div>
</div>
<div class="personpartiez" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">

  <div class="rowdiv">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><span style="font-size: 18px; font-weight: bold">{{fullname}}</span></mat-card-title>
        <mat-card-subtitle><span style="font-weight: bold">{{phone_number}}</span></mat-card-subtitle>
        <mat-card-subtitle><span style="font-weight: bold">{{email}}</span></mat-card-subtitle>
          </mat-card-header>
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="stepper === 0" (opened)="setStepper(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                account Detail
              </mat-panel-title>
              <mat-panel-description>
                Edit User detail
                <mat-icon>edit</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="usereditform" (ngSubmit)="onSubmitformuser()">
              <mat-form-field class="full-width-input">
                <input matInput type="email"  placeholder="Current email" formControlName="email" required>
                <mat-error *ngIf="isFieldInvalidb('email')">
                  Enter valid email
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input matInput type="tel"  placeholder="Phone  Number" formControlName="phone_number"  required>
                <mat-error *ngIf="isFieldInvalidb('phone_number')">
                  Enter new valid phone number
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input matInput type="text"  placeholder="First name" formControlName="first_name"  required>
                <mat-error *ngIf="isFieldInvalidb('first_name')">
                  Enter new valid firstname
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input matInput type="text"  placeholder="National Id" formControlName="national_id"  required>
                <mat-error *ngIf="isFieldInvalidb('national_id')">
                  Enter new valid national id number
                </mat-error>
              </mat-form-field>

              <span class="loginbtn">
        <button mat-raised-button color="primary" type="submit">Save</button>
        </span>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="rowdiv">

    <mat-card class="example-cardb">
    <div style="padding-left: 0%">
      <mat-card-content>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reset account Password
            </mat-panel-title>
            <mat-panel-description>
              Enter new password {{otpmessage}}
              <mat-icon>edit</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <form [formGroup]="resetPassword" (ngSubmit)="onSubmitformb()">
              <p>Change Password</p>
              <mat-form-field class="full-width-input">
                <input matInput type="password"  placeholder="New password" formControlName="newpass"  required>
                <mat-error *ngIf="isFieldInvalid('newpass')">
                  Enter new password
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input matInput type="password"  placeholder="Confirm password" formControlName="confirmpass" [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="resetPassword.hasError('notSame')">
                 Password don't  match
                </mat-error>
              </mat-form-field>
              <span class="loginbtn">
        <button mat-raised-button color="primary" type="submit">Reset</button>
        </span>
            </form>
        </mat-expansion-panel>
      </mat-accordion>
      </mat-card-content>
    </div>

    </mat-card>
  </div>

</div>
<div class="personpartiez" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">

  <div class="rowdiv">
  </div>
</div>
