<div id="escrow" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="tradeA">
    <div class="card-design">
      <p><span class="header_text">
       Create New Trades
      </span>
      </p>
    </div>
  </div>
</div>
<div id="escrow2" class="escrow-container1" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="divsign">
    <mat-tab-group>
      <mat-tab class="labeposition">
        <ng-template mat-tab-label>
          <mat-icon class="icondi-tab-icon">assignment_ind</mat-icon>
          Roles
        </ng-template>
        <div class="divdesign">
          <div class="rowdiv">
              <i class="material-icons  largeicon">shopping_cart</i>
<p><span>Buying some Item</span></p>
          </div>
          <div class="rowdiv">
              <i class="material-icons  largeicon">monetization_on</i>
            <p><span>Selling some Item</span></p>
          </div>
          <div class="rowdiv">
              <i class="material-icons  largeicon">contact_phone</i>
              <p><span>Am an Agent</span></p>
          </div>


        </div>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icondi-tab-icon">person_pin</mat-icon>
          Trade Parties
        </ng-template>
        <div>
          Content 1

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icondi-tab-icon">description</mat-icon>
          Trade Item description
        </ng-template>
        <div>
          Content 1

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icondi-tab-icon">account_balance</mat-icon>
          Trade value
        </ng-template>
        <div>
          Content 1

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icondi-tab-icon">local_shipping</mat-icon>
          Delivery Option
        </ng-template>
        <div>
          Content 1

        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>


