<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
          <span style="font-weight: bolder ; font-size: large">Saving Account</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <span style="font-weight: bolder">User  Name: {{auth.userAccount.user}}</span><br>
            <br>
            <span style="font-weight: bolder">Account Balance: {{auth.userAccount.savingsBalance}}</span>

            <br>
            <br>
            <br>
            <br>
            <button mat-raised-button (click)="openDialog()">Pick one</button>
            You chose: <i>{{transfervalue}}</i>
            <li *ngIf="transfervalue">
              You chose: <i>{{transfervalue}}</i>
            </li>

          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span style="font-weight: bolder ; font-size: large">Checking Account</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <span style="font-weight: bolder">Account Balance: {{auth.userAccount.checkingBalance}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
