<div id="escrowheader" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="tradeAheader">
    <div class="card-designheader">
      <p><span class="header_textdashboard">
       Trade dashboard
      </span>
      </p>
    </div>
  </div>
</div>


<mat-card class="example-card">
<div id="escrow" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div  class="tradeA"  >
      <div class="rowdiv">
        <a  mat-raised-button [color]="'blue'"  [routerLink]="['/viewtrade',1]">
          <i class="material-icons  iconcolor">donut_large</i>
          Pending Trade</a>
      </div>
    <div class="rowdiv">
      <a  mat-raised-button  [color]="'purple'" [routerLink]="['/viewtrade',2]">
        <i class="material-icons  iconcolor">highlight_off</i>
        Active Trade</a>
      </div>
    <div class="rowdiv">
      <a  mat-raised-button [color]="'green'" [routerLink]="['/viewtrade',3]">
        <i class="material-icons  iconcolor">assignment_turned_in</i>
        Completed Trade</a>
      </div>
    <div class="rowdiv">
      <a  mat-raised-button color="grey" routerLink="/viewpayment" >
        <i class="material-icons  iconcolor">monetization_on</i>
        View Trade Payments</a>
      </div>
  </div>

  <div  class="tradeB">
    <div style="text-align: center;">
      <p><span class="header_textb">
        Account balance
      </span>
    </p>
    </div>

   <span class="header_text-small">
     Escrow Account Balance:ksh {{accountbal}}
      </span>
    <p><span class="header_text-small">
      Funds in Escrow Payable to You:ksh {{payablebal}}
      </span>
    </p>
  </div>
</div>

  <div class="personpartiez" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
       fxLayoutAlign="center">
    <div class="rowdivnewtrade">

            <a  class="linkstyle"  mat-button routerLink="/createtrade">
            <i class="material-icons  iconizer">add_to_photos</i>
              <p><span>New Trade</span></p></a>


            <a mat-button routerLink="/profile" class="linkstyle" >
            <i class="material-icons icon-send-money iconizer">account_circle</i>
              <p><span>Update account</span></p></a>


            <a  class="linkstyle"  mat-button routerLink="/fund" >
            <i class="material-icons  iconizer">account_balance_wallet</i>
              <p><span>Pay Trade</span></p></a>

    </div>
  </div>

</mat-card>
