.escrow-container{
  display: flex;
  width:100%;
  height: 100%;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;

}
.escrow-containerfinal{
  display: flex;
  width:100%;
  height: 100%;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
  margin-top:1%;
}
.tradeA{
  flex: 2;
  margin-left: 1%;
  justify-content: center;
  //background-color: #ebebeb;
  padding: 0%;
  height: 20%;
  align-content: center;
  text-align: center;

}
.tradeAheader{
  flex: auto;
  margin-left: 0%;
  justify-content: center;
  background-color: #ebebeb;
  padding: 0%;
  align-content: center;
  text-align: center;

}
.card-designheader{

    background-color: #ebebeb;
    padding: 0%;

}
.tradeB{
  flex: 1;
  margin-right: 1%;
  //background-color: #ebebeb;
  justify-content: center;
  padding:1.2%;
  height: 45%;
  align-content: center;
  text-align: center;

}
.divb-1{
  flex: auto;
  text-align: center;
  align-content: space-around;
  padding-bottom: 1%;
  padding-top: 6%;

  //background-color: white;
}
.example-card{
margin: 1%;
}

.header_text
{  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: blue;

}
.header_textdashboard
{ font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.header_textb
{ text-align: left;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: blue;

}
.header_text-bigger{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.header_text-small{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.material-icons.iconcolor {
  //color: blue;
  font-size: 20px;
}

.material-icons.bigicon {
    backgro5nd-color: #125aaa;
  font-size: 100px;
}.material-icons.bigicon1 {
   color: #888888;
  font-size: 100px;
}

.material-icons.md-48 { font-size: 48px;
}
.iconizer{
  color: #125aaa;
  font-size: 50px;
}
.linkstyle{
 //background-color: #125aaa;
  padding: 0%;
  //margin-left: 2%;
  //color: white;
}
.linkstyle1{
  padding: 0%;
  margin-left: 2%
}
.linkstyle2{
  background-color: white;
  padding: 0%;
  //margin-left: 2%;
}

.rowdiv{
  flex: 1;
  padding: 1%;
}
.rowdivbtna {
  flex: 1;
  text-align: right;
  padding: 2%;
}
.rowdivbtnb {
  flex: 1;
  text-align: center;
  padding: 2%;
}
.rowdivbtnc {
  flex: 1;
  text-align: left;
  padding: 2%;
  width: 150px;
}
//button customized
.mat-purple  {
  background-color: purple;
  width: 80%;
  color: white;
}//button customized
.mat-blue  {
  background-color: #125aaa;
  width: 80%;
  color: white;
}//button customized
.mat-grey  {

  background-color:#EEEEEE;
  width: 80%;
  color: blue;
}//button customized
.mat-green  {
  background-color:green;
  width: 80%;
  color: white;
}


//mobile
@media all and (max-width: 800px) {
  .rowdivbtna {
    flex: 1;
    text-align: right;
    padding: 1%;
  }
  .rowdivbtnb {
    flex: 1;
    text-align: center;
    padding: 1%;
  }.rowdivbtnc {
     flex: 1;
     text-align: center;
     padding: 1%;
   }
  .header_text-bigger{
    font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
  }
  .header_text-small{
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
  }
}

/* Small screens */
@media all and (max-width: 500px) {

  .escrow-containerfinal{
    display: flex;
    width:100%;
    height: 100%;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
  }
  .tradeB{
    flex: 1;
    margin-right: 0%;
    //background-color: #ebebeb;
    justify-content: center;
    height: 10%;
    align-content: center;
    text-align: center;

  }

  .rowdivbtna {
    flex: 1;
    text-align: center;
    padding-left: 30%;
    width: 100px;
  }
  .rowdivbtnb {
    flex: 1;
    text-align: center;
    padding-left: 30%;
    width: 100px;
  }
  .rowdivbtnc {
     flex: 1;
     text-align: center;
    padding-left: 30%;
    width: 100px;
   }
  .header_text-bigger{
    font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
  }
  .header_text-small{
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;
  }


}
