
<div id="aboutus" class="howitwork-containerdashboard paddingtopdesign  " fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="Why-contentdashboarda">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><p class="editstyle">pppppppppppppppp</p></mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <p><a routerLink="/profile" >
            Edit profile </a></p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-carda">
      <div class="accountstyl">
<p><span  class="accheader">Your Account</span></p>

      </div>
    </mat-card>
  </div>

  <div class="Why-contentdashboardaa">
    <p style="padding-top: 1%; text-align: center !important;">
    <a routerLink="/createtrade" mat-list-item >
      <mat-icon>queue</mat-icon>
      New trade
    </a>
    </p>



</div>
</div>
