
<div id="aboutus" class="howitwork-containerdashboard paddingtopdesign  " fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="Why-contentdashboarda">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><p class="editstyle">Hi {{fullname}}</p></mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <p><a routerLink="/profile" >
            Edit profile </a></p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-carda">
<p><span  class="accheader">Your Account</span></p>
<p><span class="spanaccbal" >Amount deposited in escrow:  Ksh 0.0</span></p>
<p><span class="spanaccbal">Amount to receive from escrow: Ksh 0.0</span>
</p>
    </mat-card>
  </div>

  <div class="Why-contentdashboardaa">
    <p style="padding-top: 1%; text-align: center !important;">
    <a routerLink="/createtrade" mat-list-item >
      <mat-icon>queue</mat-icon>
      New trade
    </a>
    </p>


    <!--pending -->
    <p><span class="dashboardtrasaction" >Pending Transactions</span></p>
    <mat-table #table [dataSource]="dataSourcepending" [trackBy]="trackByUid"  class="datatble"  aria-label="Elements">
      <!-- Name Column -->
      <ng-container matColumnDef="transaction_code" sticky>
        <mat-header-cell *matHeaderCellDef class="tablefont">Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.created_at | date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="item" sticky>
        <mat-header-cell *matHeaderCellDef class="tablefont">Item</mat-header-cell>
        <mat-cell *matCellDef="let row"  class="tablefont">{{row.itemname}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoice_amount" sticky>
        <mat-header-cell *matHeaderCellDef >Invoice Amount</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.invoice_amount}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit" sticky>
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-chip-list>
            <mat-chip [color]="'blue'" (click)="edittransaction(row)" >Edit </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pay" stickyEnd>
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div  [hidden]='row.isBuyer' >
            <mat-chip-list>
              <mat-chip [color]="'green'" (click)="makepayment(row)" >Make Payment </mat-chip>
            </mat-chip-list>
          </div>
          <div  [hidden]='row.selleragree' >
            <mat-chip-list>
              <mat-chip  disabled >Pending seller approval </mat-chip>
            </mat-chip-list>
          </div>
          <div  [hidden]='row.isAgreed' >
            <mat-chip-list>
              <mat-chip [color]="'green'" (click)="openDialog(row)" >Agree </mat-chip>
            </mat-chip-list>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>


    <!--//active-->
    <p><span  class="dashboardtrasaction" >Active Transactions</span></p>
    <br>
    <mat-table #table [dataSource]="dataSourceActive" [trackBy]="trackByUid" class="datatble"  aria-label="Elements">
      <!-- Name Column -->
      <ng-container matColumnDef="transaction_code" sticky>
        <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.created_at | date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="item" sticky>
        <mat-header-cell *matHeaderCellDef >Item</mat-header-cell>
        <mat-cell *matCellDef="let row"  class="tablefont">{{row.itemname}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoice_amount" sticky>
        <mat-header-cell *matHeaderCellDef >Invoice Amount</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.invoice_amount}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit" stickyEnd>
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <mat-chip-list>
            <mat-chip [color]="'blue'" (click)="edittransaction(row)" >View </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pay" stickyEnd>
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div  [hidden]='row.isBuyer' >
            <mat-chip-list>
              <mat-chip [color]="'blue'" (click)="approvetranaction(row)" >Approve </mat-chip>
            </mat-chip-list>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>

    <!--//complete-->


    <p><span  class="dashboardtrasaction" >Complete Transactions</span></p>
    <br>
    <mat-table #table [dataSource]="dataSourceComplete" [trackBy]="trackByUid" class="datatble"  aria-label="Elements">
      <!-- Name Column -->
      <ng-container matColumnDef="transaction_code" sticky>
        <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.created_at | date:'dd/MM/yyyy'}}
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="item" sticky>
        <mat-header-cell *matHeaderCellDef >Item</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont" >{{row.itemname}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoice_amount" sticky>
        <mat-header-cell *matHeaderCellDef >Invoice Amount</mat-header-cell>
        <mat-cell *matCellDef="let row" class="tablefont">
          {{row.invoice_amount}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit" stickyEnd>
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-chip-list>
            <mat-chip [color]="'blue'" (click)="edittransaction(row)" >View </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnscomplete"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnscomplete;" class="animate"></mat-row>
    </mat-table>
  </div>


</div>
