
 .animate {
    background-image: none !important;
    animation: fadeIt 1s ease-in-out
  }
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  text-align: right;
  overflow: auto;

}

.mobile-label {
  display: none;
}
// Mat-DataTable
.data-table-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1%;

  .mobile-label {
    display: none;
  }
  .mat-toolbar{
    height: 45px;
  }
  .data-table-content{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
  }
}

@media(max-width: 500px)
{
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .example-header {
    text-align: center;
    overflow: auto;

  }
}
