.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.mobile-labela{
  display: none;
}
//button customized
.mat-purple  {
  background-color: purple;
  width: 80%;
  color: white;
}//button customized
.mat-blue  {
  background-color: #125aaa;
  width: 80%;
  color: white;
}//button customized
.mat-grey  {

  background-color:#EEEEEE;
  width: 80%;
  color: #0071c5;
}//button customized
.mat-green  {
  background-color:green;
  width: 80%;
  color: white;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 150px;
    display: inline-block;
    font-weight: bold;
  }
  .mobile-labela {
    margin-left: -17px;
    width: 150px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
