<div class="tradecontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center" >
  <mat-tab-group #tabgroup [selectedIndex]="selected"
                 (selectedIndexChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="icondi-tab-icon">account_balance</mat-icon>
        Trade Item description
      </ng-template>
      <div class="partiezcontaine"  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
           fxLayoutAlign="center">
        <div class="rowdiva">
          <form [formGroup]="firstFormGroupA"  (ngSubmit)="onSubmit()" >
          <mat-form-field >
            <input matInput type="number"  placeholder=" Edit invoice Amount"  formControlName="invoice_amount" required>
            <mat-error *ngIf="isFieldInvalid('invoice_amount')">
              Enter valid Email
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="number"  placeholder="Inspection period" formControlName="inspection_period"  required >
            <mat-error *ngIf="isFieldInvalid('inspection_period')">
              Enter valid Email
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="number"  placeholder="Agent fee "  formControlName="agent_fee_value" required
                >
            <mat-error *ngIf="isFieldInvalid('agent_fee_value')">
              Enter valid Email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Trade period(in days)"  formControlName="period"
                   ><br>
            <mat-error *ngIf="isFieldInvalid('period')">
              Enter valid Email
            </mat-error>
          </mat-form-field>
            <div style="text-align: right; padding-right: 100px">
              <p>
                <span style="margin-left: 50px"><button type="submit"  [disabled]="!firstFormGroupA.valid" mat-raised-button color="primary" >Edit</button></span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="icondi-tab-icon">description</mat-icon>
        Edit Item description
      </ng-template>
      <div class="partiezcontaine"  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
           fxLayoutAlign="center">
        <div class="rowdiva">
          <form [formGroup]="secondFormGroupB"  (ngSubmit)="onSubmitform()" >
          <mat-form-field >
            <input matInput type="tel"  placeholder="Item name" formControlName="name"  required
               >
            <mat-error *ngIf="isFieldInvalidB('name')">
              Enter valid Item name
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="text"  placeholder="Item description" formControlName="description"  required
                  >
            <mat-error *ngIf="isFieldInvalidB('description')">
              Enter valid Item description
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="text"  placeholder="quantity" formControlName="quantity" required
                   >
            <mat-error *ngIf="isFieldInvalidB('quantity')">
              Enter valid Item Quantity
            </mat-error>
          </mat-form-field>
            <div style="text-align: right; padding-right: 100px">
            <p>
            <span style="margin-left: 50px"><button type="submit"  [disabled]="!secondFormGroupB.valid" mat-raised-button color="primary" >Edit</button></span>
            </p>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
<div>


</div>


</div>
