<div class="tradecontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center" >
  <mat-tab-group #tabgroup [selectedIndex]="selected"
                 (selectedIndexChange)="tabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="icondi-tab-icon">account_balance</mat-icon>
        Trade Item description
      </ng-template>
      <div class="partiezcontaine"  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
           fxLayoutAlign="center">
        <div class="rowdiva">
          <form [formGroup]="firstFormGroupA"  (ngSubmit)="onSubmit()" >
          <mat-form-field >
            <input matInput type="number"  placeholder=" Edit invoice Amount"  formControlName="invoice_amount" required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!firstFormGroupA.get('invoice_amount').valid && firstFormGroupA.get('invoice_amount').touched">Please enter invoice amount</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="number"  placeholder="Inspection period" formControlName="inspection_period"  required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!firstFormGroupA.get('inspection_period').valid && firstFormGroupA.get('inspection_period').touched">Please enter Inspection period</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="number"  placeholder="Agent fee "  formControlName="agent_fee_value" required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!firstFormGroupA.get('agent_fee_value').valid && firstFormGroupA.get('agent_fee_value').touched">Please enter Agent fee value</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Trade period(in days)"  formControlName="period"
                   [errorStateMatcher]="matcher"><br>
            <mat-error>
              <span *ngIf="!firstFormGroupA.get('period').valid && firstFormGroupA.get('period').touched">Please enter trade period</span>
            </mat-error>
          </mat-form-field>
            <div style="text-align: right; padding-right: 100px">
              <p>
                <span style="margin-left: 50px"><button type="submit"  [disabled]="!firstFormGroupA.valid" mat-raised-button color="primary" >Edit</button></span>
              </p>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="icondi-tab-icon">description</mat-icon>
        Edit Item description
      </ng-template>
      <div class="partiezcontaine"  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
           fxLayoutAlign="center">
        <div class="rowdiva">
          <form [formGroup]="secondFormGroupB"  (ngSubmit)="onSubmitform()" >
          <mat-form-field >
            <input matInput type="tel"  placeholder="Item name" formControlName="name"  required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!secondFormGroupB.get('name').valid && secondFormGroupB.get('name').touched">Please enter item name</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="text"  placeholder="Item description" formControlName="description"  required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!secondFormGroupB.get('description').valid && secondFormGroupB.get('description').touched">Please enter trade period</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput type="text"  placeholder="quantity" formControlName="quantity" required
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!secondFormGroupB.get('quantity').valid && secondFormGroupB.get('quantity').touched">Please enter Item quantity</span><br>
            </mat-error>
          </mat-form-field>
            <div style="text-align: right; padding-right: 100px">
            <p>
            <span style="margin-left: 50px"><button type="submit"  [disabled]="!secondFormGroupB.valid" mat-raised-button color="primary" >Edit</button></span>
            </p>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
<div>


</div>


</div>
