<div class="container"   fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div class="logindiv"  >
    <mat-card>
      <section  class="progress-bar" [hidden]='status' >
        <mat-progress-bar
          color='primary'
          mode="indeterminate" >
        </mat-progress-bar>
      </section>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Enter your verification code</p>
          <mat-form-field class="full-width-input">
            <input matInput type="text"  placeholder="Enter Verification code sent to your phone" formControlName="verification_code" required>
            <mat-error *ngIf="isFieldInvalid('verification_code')">
              Enter valid verification code
            </mat-error>
          </mat-form-field>

          <span class="loginbtn">
        <button mat-raised-button color="primary" type="submit">Verify</button>
        </span>
        </form>

        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Resend Verification code
              </mat-panel-title>
              <mat-panel-description>
              Wrong phone no edit
                <mat-icon>edit</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
              <form [formGroup]="formresend" (ngSubmit)="onSubmitformb()">
              <p>Resend Verification code</p>
              <mat-form-field class="full-width-input">
                <input matInput type="tel"  placeholder="Enter phone number" formControlName="phone_number"  required>
                <mat-error *ngIf="isFieldInvalid2('phone_number')">
                  Enter valid phone number
                </mat-error>
              </mat-form-field>
              <span class="loginbtn">
        <button mat-raised-button color="primary" type="submit" [disabled]="!formresend.valid">Resend</button>
        </span>
            </form>
          </mat-expansion-panel>
        </mat-accordion>


      </mat-card-content>
    </mat-card>
  </div>


</div>
