md-card {
  max-width: 50%;
  text-align: center;
  margin-top: 2%;


}

.full-width-input {
  width: 100%;
}



.container{
  display: flex;
  padding-top: 9%;
  width:100%;
  flex-direction:column;
  min-height: 100vh;

}
.logindiv{
  flex: auto;
  margin-top: 4%;
  max-width: 500px;
  padding-top: 2%;

}
.forgotpass{

  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.loginbtn{
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-left: 40%;
  text-align: right;
}
