
<div class="personpartiez" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="rowdiv">
    <mat-card>
        <mat-card-content>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Enter a new password
                </mat-panel-title>
                <mat-panel-description>
                  Enter new password
                  <mat-icon>edit</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <form [formGroup]="resetPassword" (ngSubmit)="onSubmitformb()">

                <mat-form-field class="full-width-input">
                  <input matInput type="email"  placeholder="Your Email " formControlName="email"  required>
                  <mat-error *ngIf="isFieldInvalid('email')">
                    Enter new password
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                  <input matInput type="password"  placeholder="New password" formControlName="newpass"  required>
                  <mat-error *ngIf="isFieldInvalid('newpass')">
                    Enter new password
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                  <input matInput type="password"  placeholder="Confirm password" formControlName="confirmpass" [errorStateMatcher]="matcher" required>
                  <mat-error *ngIf="resetPassword.hasError('notSame')">
                    Password don't  match
                  </mat-error>
                </mat-form-field>
                <span class="loginbtn">
        <button mat-raised-button color="primary" type="submit">Reset</button>
        </span>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>


    </mat-card>
  </div>

</div>
