md-card {
  max-width: 100%;
  text-align: center;

}

.full-width-input {
  width: 100%;
}



.container{
  display: flex;
  padding-top: 20%;
  width:100%;
  flex-direction:column;

}
.logindiv{
  margin-left: 40%;
  width: 800px;
  margin-top: 2%;
}
