.escrow-container{
  display: flex;
  width:100%;
  height: 100%;
  background-color: white;
  align-items: center;
  padding-top:4%;
  flex-wrap: wrap;

}

.escrow-div{
  flex: auto;
  justify-content: center;
  padding-top: 2%;
  height: 100%;
align-content: center;

}

.dashboard-card {
  align-content: center;
}

.more-button {
}

.dashboard-card-content {
  text-align: center;
  align-content: center;
  flex-direction: row;

  width: 80%;padding-left: 5%;

}
.escrow-form{
  width: 350px;
  align-content: center;

}
