<div id="escrow" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <div class="tradeA">
    <div class="card-design">
      <p><span class="header_text">
      Trade payments
      </span>
      </p>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-card-content class="data-table-wrapper mat-elevation-z8">
    <mat-table #table  class="data-table-content" [dataSource]="dataSourceb"  [trackBy]="trackByUid" nclass="animate" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="transaction_code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction code</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.transaction_code}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount Paid</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Status</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Time paid</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.created_at}}</mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</div>
