
.bodycontent{
  overflow: hidden;
  bottom:0;
  left:0;
  right:0;
  top :0;
  display: flex;
}
.fixedtop{
  position: fixed;
  z-index: 2;

}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.header_text
{
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;

}
.header_container{
  height: 100%;
}
