
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar  [color]="'blue'" >Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/dashboard" mat-list-item   *ngIf="isLoggedIn$ | async as isAuthenticated; else dashboard">
        <mat-icon>home</mat-icon>
        dashboard
      </a>
      <ng-template #dashboard>
        <a routerLink="/signup" mat-list-item>
          <mat-icon>how_to_reg</mat-icon>
          Sign Up
        </a>
      </ng-template>
      <a routerLink="/profile" mat-list-item   *ngIf="isLoggedIn$ | async as isAuthenticated; else persona">
        <mat-icon>account_circle</mat-icon>
        Profile
      </a>
      <ng-template #persona>
        <a routerLink="/xx" mat-list-item>
          <mat-icon>home</mat-icon>
          Home
        </a>
      </ng-template>

      <a routerLink="/createtrade" mat-list-item   *ngIf="isLoggedIn$ | async as isAuthenticated; else business">
        <mat-icon>queue</mat-icon>
        New trade
      </a>

      <ng-template #business>
        <a routerLink="/xx" mat-list-item>
          <mat-icon>explore</mat-icon>
         About
        </a>
        <a routerLink="/xx" mat-list-item>
          <mat-icon>settings_applications</mat-icon>
         How it works
        </a>
      </ng-template>
      <!--//signup-->

      <a routerLink="/login" mat-list-item (click)="onLogout()" *ngIf="isLoggedIn$ | async as isAuthenticated;else elsesignupb" >
      <mat-icon>settings_power</mat-icon>
        Logout
      </a>

      <ng-template #elsesignupb>
        <a routerLink="/login" mat-list-item>
          <mat-icon>lock</mat-icon>
          Login
        </a>
      </ng-template>





    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="'blue'" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--<span>basic</span>-->
      <!--<span class="header_text">MLINZI</span>-->
      <div class="menudiv">
      <div ><img src="./../assets/images/logo.png" class="logo" alt="MLINZI" ></div>
      <div fxShow="true" class="barmenu" fxHide.lt-md="true"   >
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->


        <span class="header_text">
       <button mat-button routerLink="/dashboard"
               *ngIf="isLoggedIn$ | async as isAuthenticated; else dashboard1">
          <mat-icon>home</mat-icon>
         Dashboard</button>
     </span>

        <ng-template #dashboard1>
          <a href="#" mat-button >
            HOME
          </a>
        </ng-template>


        <span class="header_text">
       <button mat-button routerLink="/createtrade"
               *ngIf="isLoggedIn$ | async as isAuthenticated; else business1">
          <mat-icon>queue</mat-icon>
         New trade</button>
     </span>


        <ng-template #business1 style="color: white; margin: 0%">
          <a href="#" mat-button >
            ABOUT
          </a>
          <a href="#" mat-button >
            HOW IT WORKS
          </a>
        </ng-template>

        <!--<mat-icon matBadge="15" matBadgeColor="warn"-->
                  <!--*ngIf="isLoggedIn$ | async as isAuthenticated; else elsesignup1s"-->
                  <!--routerLink=".">message-->
        <!--</mat-icon>-->
        <span class="header_text">
       <button mat-button routerLink="/profile"
               *ngIf="isLoggedIn$ | async as isAuthenticated; else elsesignup1s" >
          <mat-icon>account_circle</mat-icon>
         Profile</button>
     </span>

        <ng-template #elsesignup1s style="color: white; margin: 1%">
          <button mat-button routerLink="/login">Login</button>
        </ng-template>






        <span class="header_text">
       <button mat-button (click)="onLogout()"
               *ngIf="isLoggedIn$ | async as isAuthenticated; else elseBlock1">
          <mat-icon>account_circle</mat-icon>
         Logout</button>
     </span>


        <ng-template #elseBlock1 style="color: white">
          <span class="header_text">
            <button mat-button  [color]="'purple'" routerLink="/signup"> Create Account</button>
     </span>
        </ng-template>
      </div>

      </div>
    </mat-toolbar>
    <section  class="progress-bar" [hidden]='this.auth.showloading' >
      <mat-progress-bar
        [color]='color'
        [mode]="progressBarMode" >
      </mat-progress-bar>
    </section>

    <!-- Add Content Here -->
        <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
