<div class="container"   fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

<mat-progress-spinner *ngIf="!useAccounts"
                      class="progress__spinner"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
</mat-progress-spinner>
<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of useAccounts">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.userId}}</span> {{hero.title}}
    </a>
    <button class="delete" title="delete hero"> </button>
  </li>
</ul>
</div>
