md-card {
  max-width: 100%;
  text-align: center;

}

.full-width-input {
  width: 100%;
}



.container{
  display: flex;
  padding-top: 5%;
  width:100%;
  flex-direction:column;

}
.signup-div1{
  flex: auto;
  margin-top: 0%;
  max-width: 500px;
}
