.createtradecontainer{
  display: flex;
  width:100%;
  font-family: sans-serif;
  background-color: #575756;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100vh;
  //height: 100vh;
}
.tradeleft{
  flex: 1;
  background-color: #ffffff	;
  text-align: center;
  padding-bottom: 2%;
  color: #0d46a0;
  padding-top: 5%;
}
.traderight{
  flex: 2;
  background-color: #ffffff;
  text-align: center;
  padding-left: 1%;
  padding-bottom: 2%;
  padding-top: 3%;
  font-family: sans-serif;
}
.content-divA{
  flex: 50%;
  align-content: center;
  align-items: center;
  text-align: center;

}
.content-divB{
  flex: 50%;
  align-content: center;
  text-align: center;
  //padding-bottom: 20%;
}


.labeposition{
  text-align: center;
  justify-content: center;
  width: 100%;
  align-content: center;
}
.icondi-tab-icon{
  color: #125aaa;
  font-size: 30px;
  margin-right: 10px;
}
.largeicon{
  color: #0071c5;
  font-size: 60px;
  margin-right: 10px;
}
.rowdiv{
  flex: 1;
}
.rowdivnewtrade{
  flex: 1;
  padding-top: 2%
}
.buttonmargin{
  padding:10px;
}
.largeicon{
  color: #0071c5;
  font-size: 40px;
  margin-right: 10px;
}

.iconimagedeppo {
  height: 200px;
  width: 200px;

}
.mat-form-field{
  font-size: 12px;
  text-align: center !important;
  width: 60%;
}
.navmenu{
  text-align: right; padding-right: 100px;
}
.navspan{
  margin-left: 4%;
}
.fnalsub{
  margin-left: 37%; text-align: center
}
//mobile
@media all and (max-width: 800px) {
  .iconimagedeppo {
    height: 200px;
    width: 200px;
  }
  .createtradecontainer{
    display: flex;
    width:100%;
    font-family: sans-serif;
    background-color: #575756;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-bottom: 2%;
  }
  .tradeleft{
    flex: 1;
    order: 2;
    background-color: #ffffff	;
    text-align: center;
    padding-bottom: 2%;
    color: #0d46a0;
    padding-top: 1%;
    width: 100%;
  }
  .traderight{
    flex: 2;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 12%;
    font-family: sans-serif;
    width: 100%;
  }
  .iconimagedeppo {
    height: 100%;
    width: 100%;
  }
  .mat-form-field{
    text-align: center;
    font-size: 12px;
    width: 100%;
  }
  .content-divA{
    //flex: 100%;
    align-content: center;
    align-items: center;
    text-align: center;

  }
  .content-divB{
    //flex: 100%;
    align-content: center;
    text-align: center;
  }

  .fntsiz{
    font-size: 12px;
  }

}


/* Small screens */
@media all and (max-width: 500px) {


  .createtradecontainer{
    display: flex;
    width:100%;
    background-color: #575756;
    font-family: sans-serif;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 3%;
    padding-top: 1%;
  }
  .tradeleft{
//display: none;
    flex: 1;
    background-color: #ffffff	;
    text-align: center;
    padding: 2%;
    color: #0d46a0;
    min-height: 100%;
  }

  .datatble1{
    background-color: #ffffff;
  }
  .traderight{
    flex: 1;
    background-color: #ffffff	;
    text-align: center;
    padding: 2%;
    color: #0d46a0;
    min-height: 100%;
  }

  .mat-form-field{
    text-align: center;
    font-size: 12px;
    width: 90%;
  }
  .content-divA{
    //flex: 100%;
    align-content: center;
    align-items: center;
    text-align: center;

  }
  .content-divB{
    //flex: 100%;
    align-content: center;
    text-align: center;
  }
.fntsiz{
  font-size: 10px;
}
  .rowdivnewtrade{
    //flex: 1;
    padding-top: 2%;

  }
  .rowdiv{
    //flex: 1;
  }
  .iconimagedeppo {
    height: 200px;
    width: 200px;

  }
}




