.howitwork-containerdashboard{
  display: flex;
  width:100%;
  font-family: sans-serif;
  background-color: #575756;
  align-items: center;
  flex-wrap: wrap;
}

.Why-contentdashboardaa{
  flex: 2;
  background-color: #ffffff;
  text-align: left;
  padding-left: 1%;
  padding-bottom: 20%;
  font-family: sans-serif;
  padding-top: 1%;
}
.datatble{
  background-color: #ffffff;
}
.Why-contentdashboarda{
  flex: 1;
  background-color: #ffffff	;
  text-align: center;
  padding-bottom: 20%;
  font-family: sans-serif;
  color: #0d46a0;
}

.iconimagedeppo {
  height: 300px;
  width: 300px;
}







.escrow-container{
  display: flex;
  width:100%;
  height: 100%;
  background-color: white;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;

}

.container{
  display: flex;
  padding-top: 5%;
  width:100%;
  flex-direction:column;
  font-family: sans-serif;
  margin-bottom: 4%;
}
.signup-div1{
  flex: auto;
  margin-top: 0%;
  max-width: 500px;
  font-family: sans-serif;
}
.howitwork-containerdashboard{
  display: flex;
  width:100%;
  font-family: sans-serif;
  background-color: #575756;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}

.Why-contentdashboardaa{
  flex: 2;
  background-color: #ffffff;
  text-align: left;
  padding-left: 1%;
  padding-bottom: 20%;
  font-family: sans-serif;
}
.datatble{
  background-color: #ffffff;
}
.Why-contentdashboarda{
  flex: 1;
  background-color: #ffffff	;
  text-align: center;
  padding-bottom: 20%;
  font-family: sans-serif;
  color: #0d46a0;
  padding-top: 2%;
}
.largeicon{
  padding-top: 5%;
  color: #0d46a0;
  font-size: 180px;
  margin-right: 10px;
  align-content: center;
  align-items: center;
}

.example-card {
  max-width: 400px;
  background-color: #ffffff	;
}
.example-carda {
  max-width: 400px;
  padding-bottom: 90%;
  background-color: #ffffff	;
  text-align: left;
}
.accountstyl{
  padding-top:5% ;
  padding-left: 4%;
}
.editstyle{
  font-size: 18px;
  font-family: sans-serif;
}
.example-header-image {
  padding-top: 2%;
  width: 200px;
  height: 200px;
  background-image: url('../../../assets/icons/padlock.png');
  background-size: cover;
}
.spanaccbal{
  font-size: 12px !important;
  color: #0d46a0;
}
.accheader{
  font-size: 14px !important;
  color: #0d46a0;
}
.dashboardtrasaction{
  font-size: 12px !important;
  color: #0d46a0;
  text-decoration: underline;
  font-family: sans-serif;
  text-align: left
}
.tablefont{
  font-size: 15px;
}
.mat-green  {
  background-color:green;
  width: 80%;
  color: white;
}
.mat-blue  {
  background-color:#0d46a0;
  width: 80%;
  color: white;
}

//mobile
@media all and (max-width: 800px) {
  .howitwork-containerdashboard{
    display: flex;
    width:100%;
    background-color: #575756;
    align-items: center;
    flex-wrap: wrap;
  }
  .Why-contentdashboardaa{
    flex: 2;
    background-color: #ffffff;
    text-align: left;
    padding-left: 1%;
    padding-bottom: 10%;
  }
  .datatble{
    background-color: #ffffff;
  }
  .Why-contentdashboarda{
    flex: 1;
    background-color: #ffffff	;
    text-align: center;
    padding-bottom: 20%;
    color: #0d46a0;
  }
  .largeicon{
    padding-top: 5%;
    color: #0d46a0;
    font-size: 180px;
    margin-right: 10px;
    align-content: center;
    align-items: center;
  }

  .example-card {
    max-width: 300px;
    background-color: #ffffff	;

  }
  .editstyle{
    font-size: 18px;
  }
  .example-header-image {
    width: 150px;
    height: 150px;
    background-image: url('../../../assets/images/user.png');
    background-size: cover;
  }
  .spanaccbal{
    font-size: 15px;
    color: #0d46a0;
  }
  .accheader{
    font-size: 10px; color: #0d46a0;
  }
  .dashboardtrasaction{
    font-size: 14px; color: #0d46a0;
    text-decoration: underline;
    text-align: left;
    font-family: sans-serif;
  }

}

/* Small screens */
@media all and (max-width: 500px) {
  .howitwork-containerdashboard{
    display: flex;
    width:100%;
    background-color: #575756;
    font-family: sans-serif;
    align-items: center;
    flex-wrap: wrap;
  }
  .Why-contentdashboardaa{
    flex: 2;
    background-color: #ffffff;
    text-align: left;
    padding-left: 1%;
    padding-bottom: 20%;
  }
  .datatble{
    background-color: #ffffff;
  }
  .Why-contentdashboarda{
    flex: 1;
    background-color: #ffffff	;
    text-align: center;
    padding-bottom: 2%;
    color: #0d46a0;
  }
  .largeicon{
    padding-top: 3%;
    color: #0d46a0;
    font-size: 100px;
    margin-right: 2px;
    align-content: center;
    align-items: center;
  }

  .example-card {
    max-width: 90%;
    background-color: #ffffff	;

  }
  .example-carda {
    max-width: 400px;
    padding-bottom: 2%;
    background-color: #ffffff	;
  }
  .editstyle{
    font-size: 18px;
  }
  .example-header-image {
    width: 80px;
    height: 80px;
    background-image: url('../../../assets/images/user.png');
    background-size: cover;
  }
  .spanaccbal{
    font-size: 8px;
    color: #0d46a0;
    font-family: sans-serif;
  }
  .accheader{
    font-size: 10px; color: #0d46a0;
    font-family: sans-serif;
  }
  .datatble{
    background-color: #ffffff;
  }
  .dashboardtrasaction{
    font-size: 13px; color: #0d46a0;
    text-decoration: underline;
    text-align: left;
    font-family: sans-serif;
  }
  .tablefont{
    font-size: 9px;
    font-family: sans-serif;
  }


}
