/* You can add global styles to this file, and also import other style files */

body { margin: 0; }
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

.contentz{
padding-bottom: 20%;
}
.paddingtopdesign{
  font-family: sans-serif;
  padding-top:4% !important;
}
///* Small screens */
@media all and (max-width: 500px) {
  .paddingtopdesign{
    font-family: sans-serif;
    padding-top:10% !important;
  }
}
