.container{
  display: flex;
  width:100%;
  flex-direction: row;
  background-color: #1da290;
align-items: center;
  padding-top:9%;
}
.container2{
  display: flex;
  height: 100px;
  margin-top: -0.5%;
  flex-direction: row;
  background-color: #1da290;
  -webkit-clip-path: polygon(0 5%, 0 0, 100% 0, 100% 41%);
  clip-path: polygon(0 5%, 0 0, 100% 0, 100% 41%);
}
.container3{
  display:flex;
  height: 5%;
  background-color:purple;
}


.div1_selection{
  flex: 3;
justify-content: right;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  align-content: stretch;
  text-align: center;
  //margin: 9%;
}

.sub_sectionb {
  flex: 1;
  color: white;
  background-image: url("../../assets/images/mlinzimobile.png");
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 7%;
  overflow: hidden;
  display: block;
  margin-top: 5%;
}




.spanA{
  font-size: 70px;
  font-weight: 400;
  //text-align: right;
}
.spanb{
  font-size: 20px;
  font-weight: 200;
  //text-align: left;
}
.header_text
{
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;

}
.button_font{
  font-size: 50px;
  font-weight: bold;
}
