

<div id="SectionA" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="div1_selection" >
  <p id="p1">
<span class="spanA" >   Safeguarding  Your  </span><br>

  </p>
    <p><span class="spanA" >  Transaction From fraud</span></p>
    <p><span class="spanb" > We Ensure Trust In Your Big Purchases</span></p>
    <br>
    <span class="button_font">   <button mat-raised-button [color]="'purple'" routerLink="/login">Create Account</button></span>

  </div>
<div class="sub_sectionb"  >

  <p>
    For ddddlife’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
  </p>
  <p>
  For ddddlife’s biggest purchases
  Trust your money to get where it needs to go, every time.
  Sign up
  Authorised and regulated by the
  Financial Conduct Authority
  For life’s biggest purchases
  Trust your money to get where it needs to go, every time.
  Sign up
  Authorised and regulated by the
  Financial Conduct Authority
</p>
  <p>
    For ddddlife’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
  </p><p>
    For ddddlife’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
  </p>

</div>
</div>
<div id="SectionB" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
<div class="divb-1">
  <span  class="spanA" >Why MLINZI ?</span>
</div>
</div>

<div id="Sectionc" class="containerB" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div  class="divb_selection1"  >
      <!--<div><img src="./../assets/images/IMG-20180708-WA0007.jpg" class="logo" alt="MLINZI" ></div>-->
      <p>l
        For ddddlife’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
        For life’s biggest purchases
        Trust your money to get whe
        re it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
      </p>
      <p>
        For ddddlife’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
        For life’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
      </p>
    </div>
    <div  class="divb_selection2"  >

      <p>
        For life’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
        For life’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority

      </p>
      <p>
        For life’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority
        For life’s biggest purchases
        Trust your money to get where it needs to go, every time.
        Sign up
        Authorised and regulated by the
        Financial Conduct Authority

      </p>
    </div>
</div>

  <!--</div>-->
  <!--section c-->



