<div >

<div id="SectionA" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="sub_section1" >
  <p>
    For ddddlife’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
  </p>
</div>
<div class="sub_section2" >

  <p>
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority
    For life’s biggest purchases
    Trust your money to get where it needs to go, every time.
    Sign up
    Authorised and regulated by the
    Financial Conduct Authority

  </p>
</div>


</div>
  <div id="Sectionb" class="container2" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div  class="kevo" fxFlexFill="">
    <p style="color: white">hhhhhhhhhhhhhhhhhhhhhh</p>
  </div>

</div>
</div>


