<div id="escrow" class="escrow-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div  class="escrow-div"  >
    <mat-card class="dashboard-card">
      <mat-card-header style="justify-content: center">
        <mat-card-title>
          <span style="font-weight: bolder ; font-size: large ; text-align: center;"> Start A New Escrow Transaction</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div style="justify-content: center">
          <div >
            <mat-horizontal-stepper [linear]="isLinear" #stepper>

              <mat-step [stepControl]="firstFormGroup" >
                <mat-checkbox class="example-margin" [(ngModel)]="buyer">Am a buyer</mat-checkbox>
                <form [formGroup]="firstFormGroup"  class="escrow-form" (ngSubmit)="onsubmitformone()">
                  <ng-template ng  matStepLabel>Buyer/Seller Detail</ng-template>
                  <mat-form-field >
                    <input matInput type="tel"  placeholder="Buyer/Seller Mobile No" formControlName="phone_number" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text"  placeholder="Buyer/Seller Full Name" formControlName="full_names" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text"  placeholder="Buyer/Seller ID Number" formControlName="id_number" required><br>
                  </mat-form-field>
                  <mat-form-field *ngIf="!buyer ">
                    <input matInput type="email" placeholder=" Enter Buyer Email" formControlName="email" >
                  </mat-form-field>
                  <mat-form-field *ngIf="buyer ">
                    <input matInput type="email" placeholder="Enter Seller Email" formControlName="email" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="address" placeholder="Enter Address" formControlName="address" >
                  </mat-form-field>
                  <div>
                    <button mat-button color="primary" type="submit" matStepperNext>Next</button>
                  </div>
                </form>


              </mat-step>

              <mat-step [stepControl]="secondFormGroup">
                <mat-checkbox class="example-margin" [(ngModel)]="broker">Agent involved</mat-checkbox>
                <form [formGroup]="secondFormGroup"  class="escrow-form"   (ngSubmit)="onsubmitformtwo()">
                  <ng-template matStepLabel>Address</ng-template>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery Country" formControlName="del_cntry" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery County" formControlName="del_cnty" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery Town" formControlName="del_twn" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery Street" formControlName="del_strt" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery Lane" formControlName="del_ln" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Delivery Comment" formControlName="del_cmt" >
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="text" placeholder="Enter postal code" formControlName="delivery_postal_code" >
                  </mat-form-field>
                  <mat-form-field *ngIf="broker ">
                    <input matInput type="tel" placeholder="Agent Mobile No" formControlName="agent_mobl" >
                  </mat-form-field>
                  <mat-form-field *ngIf="broker ">
                    <input matInput type="email" placeholder="Agent Email" formControlName="agent_email" >
                  </mat-form-field>

                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext type="submit">Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="thirdFormGroup" >
                <form [formGroup]="thirdFormGroup"  class="escrow-form"  (ngSubmit)="onsubmitformthree()">
                  <ng-template ng  matStepLabel>Add item to Cart</ng-template>
                  <mat-form-field >
                    <input matInput type="text"  placeholder="Enter Item Name" formControlName="name" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="number"  placeholder="Enter Item Quantity" formControlName="quantity" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="tel"  placeholder="Enter item description" formControlName="description" required><br>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button color="primary" type="submit" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="fourthFormGroup" >
                <form [formGroup]="fourthFormGroup"  class="escrow-form"   (ngSubmit)="onsubmitformfourth()">
                  <ng-template ng  matStepLabel> Transaction Detail</ng-template>
                  <mat-form-field >
                    <input matInput type="number"  placeholder="Invoice Amount" formControlName="invoice_amount" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="number"  placeholder="Delivery Period" formControlName="period" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="number"  placeholder="Inspection Period" formControlName="inspection_period" required><br>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="number"  placeholder="Enter Agent Amount" formControlName="agent_fee_value" ><br>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button color="primary" type="submit" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>



              <mat-step>
                <ng-template matStepLabel>Confirm</ng-template>
                <p> <span style="color: blue; font-size: 30px">Confirm</span> </p>
                <p> <span>Make sure that you have entered all the required fields</span> </p>
                <div style="padding-top: 40px">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)=" finishtransaction()">Submit</button>
                </div>
              </mat-step>

            </mat-horizontal-stepper>
          </div>



        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
